body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0 0 10px 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.banner img {
    max-width: 400px;
    align-items: center;
}

.banner {
    display: flex;
    max-height: 250px;
    justify-content: center;
    margin: 75px 50%;
    align-items: center;
    flex: 1;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    color: #eee;
    font-weight: 800;
    background-color: #3882F6;
    border: none;
}

.sign-up {
    margin-right: 35px;
}

nav {
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.prod {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#infotext {
    padding: 35px;
    text-align: center;
    color: #1F2937;
    font-size: 30px;
    font-weight: 900;
}

.proditem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.prodtext.subtext {
    color: #1F2937;
    margin-top: 10px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 90px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#maintext {
    font-size: 36px;
    font-style: italic;
    text-align: left;
    width: 800px;
    margin: auto;
}

#credit {
    font-weight: 700;
    text-align: right;
}

.cta {
    display: flex;
    justify-content: center;
}

#shape {
    width: 1000px;
    height: 120px;
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 7px;
    margin: 80px 100px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#ctaheader {
    font-weight: 900;
    font-size: larger;
}

.cta button {
    font-size: 15px;
    border: 2px solid #E5E7EB;
    font-weight: 800;
}

footer {
    height: 80px;
    width: 100vw;
    background-color: #1F2937;
    color: #eee;
    font-size: smaller;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}