body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 0;
    margin: 0 0 10px 0;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.banner img {
    max-width: 400px;
    align-items: center;
}

.banner {
    display: flex;
    max-height: 250px;
    justify-content: center;
    margin: 75px 50%;
    align-items: center;
    flex: 1;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    color: #eee;
    font-weight: 800;
    background-color: #3882F6;
    border: none;
}

.sign-up {
    margin-right: 35px;
}

nav {
    display: flex;
    gap: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #3882F6;
    border-radius: 10px;
}